/* This file is for your main application css. */

@import "../../deps/phoenix_live_view/assets/css/live_view.css";
@import "../node_modules/bootstrap/dist/css/bootstrap.css";
@import "../node_modules/@fortawesome/fontawesome-free/css/all.css";
@import "../node_modules/@themesberg/windows-95-ui-kit/css/pixel.css";
@import "../node_modules/trix/dist/trix.css";


/* MAIN DESKTOP VIEW */
html, body {
    height: 100vh;
    background: url(../images/background-no-icon.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* Alerts and form errors */
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}
.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}
.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.alert p {
    margin-bottom: 0;
}
.alert:empty {
    display: none;
}
.help-block {
    color: #a94442;
    display: block;
    margin: -1rem 0 2rem;
}

/* ------------------------ Main Window Styles ---------------------- */
.card-window {
    max-height: 800px;
    overflow-y: auto;
}

.draggable {
    position: absolute;
    min-width: 600px;
}
.draggable .card-header {
    user-select: none;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
}

.maximized {
    width: 100vw;
    height: 98vh;
    transform: translate(0px, 0px) !important;
    top: 0;
    left: 0;
    z-index: 99;
    position: fixed;
}


/* -------------------------------- Navigation Menu -------------------------- */
#windows-menu{
    width: 400px;
    position: absolute;
    bottom: 20px;
    overflow-x: hidden;
}

/* -------------------------------------------------- TRIX STYLES -------------------------------------------------- */
.card-body { padding: 0px; }

.word-text-editor h1 {font-family: TimesNewRoman, Times New Roman, Times, Baskerville, Georgia, serif; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px;}
.word-text-editor h3 {font-family: TimesNewRoman, Times New Roman, Times, Baskerville, Georgia, serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; }
.word-text-editor div { font-family: TimesNewRoman, Times New Roman, Times, Baskerville, Georgia, serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; }
.word-text-editor p { font-family: TimesNewRoman, Times New Roman, Times, Baskerville, Georgia, serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; }
.word-text-editor blockquote { font-family: TimesNewRoman, Times New Roman, Times, Baskerville, Georgia, serif; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; }
.word-text-editor pre { font-family: TimesNewRoman, Times New Roman, Times, Baskerville, Georgia, serif; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5667px; }
.word-text-editor ul { font-family: TimesNewRoman, Times New Roman, Times, Baskerville, Georgia, serif; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5667px; }

.trix-content {
    background-color: white;
}


/* ---------------------------------------------- AUDIO PLAYER STYLES ------------------------- */
.music-player audio {
    width: 100%;
}
.music-player img {
    max-width: 500px;
}

.album-description {
    white-space: pre;
}


/* -------------------------------------------- MARKDOWN VIEW STYLES --------------------------- */
.markdown-view h1, .markdown-view h2, .markdown-view h3, .markdown-view h4 .markdown-view h5, .markdown-view p, .markdown-view label, .markdown-view div, .markdown-view blockquote, .markdown-view pre, .markdown-view ul, .markdown-view li {
    font-family: TimesNewRoman, Times New Roman, Times, Baskerville, Georgia, serif;
    font-style: normal;
    font-variant: normal;
}
.markdown-view strong {
    font-style: bold;
    font-weight: 800;

}
