/* This file is for your main application css. */

@import "../../deps/phoenix_live_view/assets/css/live_view.css";
@import "../node_modules/bootstrap/dist/css/bootstrap.css";
@import "../node_modules/@fortawesome/fontawesome-free/css/all.css";
@import "../node_modules/@themesberg/windows-95-ui-kit/css/pixel.css";
@import "../node_modules/trix/dist/trix.css";


/* MAIN DESKTOP VIEW */
html, body {
    height: 100vh;
}

/* Alerts and form errors */
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}
.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}
.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.alert p {
    margin-bottom: 0;
}
.alert:empty {
    display: none;
}
.help-block {
    color: #a94442;
    display: block;
    margin: -1rem 0 2rem;
}

.draggable {
    position: absolute;
    user-select: none;
    min-width: 600px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
}

.nav-item-minimize {

}




/* -------------------------------------------------- TRIX STYLES -------------------------------------------------- */
.card-body { padding: 0px; }

.word-text-editor h1 {font-family: TimesNewRoman, Times New Roman, Times, Baskerville, Georgia, serif; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px;}
.word-text-editor h3 {font-family: TimesNewRoman, Times New Roman, Times, Baskerville, Georgia, serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; }
.word-text-editor div { font-family: TimesNewRoman, Times New Roman, Times, Baskerville, Georgia, serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; }
.word-text-editor p { font-family: TimesNewRoman, Times New Roman, Times, Baskerville, Georgia, serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; }
.word-text-editor blockquote { font-family: TimesNewRoman, Times New Roman, Times, Baskerville, Georgia, serif; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; }
.word-text-editor pre { font-family: TimesNewRoman, Times New Roman, Times, Baskerville, Georgia, serif; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5667px; }
.word-text-editor ul { font-family: TimesNewRoman, Times New Roman, Times, Baskerville, Georgia, serif; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5667px; }

.trix-content {
    background-color: white;
}


