<div
  class="card-body"
  phx-hook="TextFileWindow"
>
  <form class="word-text-editor">
    <input class="input-for-<%= @slug %>" id="file-input-<%= @slug %>" value="<%= @file.contents %>" type="hidden" name="content">
    <trix-editor input="file-input-<%= @slug %>" class="trix-content"></trix-editor>
  </form>
</div>


